<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Yonalish</title>
  </head>
  <body>
    <h1>Xamma Yonalishlar</h1>
     <br>
    <hr>
    <br>
    <form method="get">
      <input type="text" name="qidiruv">
      <button>Qidirish</button>
    </form>
    <br>
    <br>
    <ul>
      {% for k in yonalish%}
      <h1>{{k.id}}.{{k.nom}}</h1>
      <br>
      <a href="/bitta_ochir/{{i.id}}/"><button>delete</button></a>

  {% endfor%}
         <br>
         <br>
             <form method="post">{% csrf_token %}
        <input type="text" name="nom" placeholder="nom">
        <input type="text" name="aktiv" placeholder="Aktiv">
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
   </ul>
  </body>
</html>